import request from '@/router/axios'

/**
 * 获取全部数据
 */
export function getAll() {
    return request({
        url: '/${moduleName}/${pathName}/getAll',
        method: 'get',
    })
}

/**
 * 分页查询
 * @param params
 */
export function page(params) {
    return request({
        url: '/${moduleName}/${pathName}/page',
        method: 'post',
        data: params
    })
}

/**
 * 获取单条数据
 * @param id
 */
export function get(id) {
    return request({
        url: `/${moduleName}/${pathName}/get/${id}`,
        method: 'get'
    })
}

/**
 * 新增保存数据
 * @param obj
 */
export function save(obj) {
    return request({
        url: '/${moduleName}/${pathName}/save',
        method: 'post',
        data: obj
    })
}

/**
 * 更新数据
 * @param obj
 */
export function update(obj) {
    return request({
        url: '/${moduleName}/${pathName}/update',
        method: 'put',
        data: obj
    })
}

/**
 * 根据主键删除数据
 * @param id
 */
export function delById(id) {
    return request({
        url: `/${moduleName}/${pathName}/delById/${id}`,
        method: 'delete'
    })
}

/**
 * 根据主键批量删除数据
 * @param ids
 */
export function delByIds(ids) {
    return request({
        url: `/${moduleName}/${pathName}/delByIds/${ids}`,
        method: 'delete',
    })
}

