package ${package}.${moduleName}.model.dto;

import lombok.Data;
import lombok.experimental.Accessors;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.util.Date;
#end
import java.io.Serializable;

/**
 * ${comment} Dto对象
 * @author ${author}
 * @date ${date}
 */
@Data
@Accessors(chain = true)
public class ${className}DTO implements Serializable {
    #foreach ($column in $columns)
        /**
         * $column.comment
         */
        private $column.columnType $column.caseColumnName;
    #end
}
