package ${package}.${moduleName}.model.entity;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;

import lombok.Data;
import lombok.experimental.Accessors;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.util.Date;
#end
import com.y3tu.tool.web.base.entity.BaseEntity;


/**
 * ${comment} 实体对象
 * @author ${author}
 * @date ${date}
 */
@Data
@Accessors(chain = true)
@TableName("${tableName}")
public class ${className} extends BaseEntity<${className}> {

#foreach ($column in $columns)
/**
 * $column.comment
 */
    #if($column.columnName == $pk.columnName)
    @TableId(value = "$column.columnName" , type = IdType.INPUT)
    #elseif($column.columnName != $column.caseColumnName)
    @TableField("$column.columnName")
    #end
    private $column.columnType $column.caseColumnName;
#end

}

