package ${package}.${moduleName}.service;

import ${package}.${moduleName}.entity.${className};
import com.y3tu.tool.web.base.service.BaseService;

/**
 * ${comment} service接口
 *
 * @author ${author}
 * @date ${date}
 */
public interface ${className}Service extends BaseService<${className}> {
}

