package ${package}.${moduleName}.service.impl;

import org.springframework.stereotype.Service;

import ${package}.${moduleName}.mapper.${className}Mapper;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.${className}Service;
import com.y3tu.tool.web.base.service.impl.BaseServiceImpl;


@Service("${classname}Service")
public class ${className}ServiceImpl extends BaseServiceImpl<${className}Mapper, ${className}> implements ${className}Service {

}
