package ${tableInfo.servicePackageName};

import com.y3tu.tool.web.base.service.BaseService;
import $!{tableInfo.packageName}.$!{tableInfo.className};



/**
 * @author $tableInfo.authorName
 */
public interface ${tableInfo.className}Service extends BaseService<$!{tableInfo.className}>{

}
