<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y3tu.cloud.upms.mapper.LogMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        create_by
        AS
        createBy,
        create_time
        AS
        createTime,
        del_flag
        AS
        delFlag,
        update_by
        AS
        updateBy,
        update_time
        AS
        updateTime,
        cost_time
        AS
        costTime,
        ip,
        ip_info
        AS
        ipInfo,
        name,
        request_param
        AS
        requestParam,
        request_type
        AS
        requestType,
        request_url
        AS
        requestUrl,
        username
    </sql>

    <select id="queryPage" resultType="com.y3tu.cloud.upms.model.entity.Log">
        select
        <include refid="Base_Column_List"/>
        from t_log
        where 1=1
        <if test="params.key!=null and params.key!=''">
            and (username like '%${params.key}%' or name like '%${params.key}%')
        </if>
        <if test="params.startDate!=null and params.startDate!=''">
            and create_time <![CDATA[ > ]]> #{params.startDate}
        </if>
        <if test="params.endDate!=null and params.endDate!=''">
            and create_time <![CDATA[ <= ]]> #{params.endDate}
        </if>
    </select>
</mapper>
