<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y3tu.cloud.upms.mapper.UserRoleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_by AS createBy, create_time AS createTime, del_flag AS delFlag, update_by AS updateBy, update_time AS updateTime, role_id AS roleId, user_id AS userId
    </sql>

    <select id="queryPage" resultType="com.y3tu.cloud.upms.model.entity.UserRole">
        select
        <include refid="Base_Column_List"/>
        from t_user_role
    </select>

    <select id="findByUserId" resultType="com.y3tu.cloud.upms.model.entity.Role">
        SELECT r.id id, name
      FROM t_user_role ur
      LEFT JOIN t_role r
      ON ur.role_id = r.id
      WHERE user_Id = #{userId}
    </select>

    <select id="findDepIdsByUserId" resultType="java.lang.String">
        SELECT DISTINCT rd.department_id
        FROM t_role_department rd
        WHERE role_id IN
              ( SELECT ur.role_id FROM t_user_role ur WHERE ur.user_id = #{userId} )
    </select>
</mapper>
