<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y3tu.cloud.upms.mapper.UserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        create_by
        AS
        createBy,
        create_time
        AS
        createTime,
        update_by
        AS
        updateBy,
        update_time
        AS
        updateTime,
        address,
        avatar,
        description,
        email,
        mobile,
        nick_name
        AS
        nickName,
        password,
        sex,
        status,
        type,
        username,
        del_flag
        AS
        delFlag,
        department_id
        as
        departmentId
    </sql>

    <select id="queryPage" resultType="com.y3tu.cloud.upms.model.entity.User" parameterType="java.util.Map">
        select t_user.id, t_user.create_by AS createBy, t_user.create_time AS createTime, t_user.update_by AS updateBy,
        t_user.update_time AS updateTime, t_user.address,
        t_user.avatar, t_user.description, t_user.email, t_user.mobile, t_user.nick_name AS nickName,
        t_user.password, t_user.sex, t_user.status, t_user.type, t_user.username, t_user.del_flag AS delFlag,
        t_user.department_id as departmentId,t_department.title as departmentTitle
        from t_user left join t_department on t_user.department_id = t_department.id
        where 1=1
        <if test="params.username!=null and params.username !=''">
            and t_user.username like '%${params.username}%'
        </if>
    </select>

    <select id="selectAll" resultType="com.y3tu.cloud.upms.model.entity.User">
        select
        <include refid="Base_Column_List"/>
        from t_user
    </select>
</mapper>
