<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y3tu.cloud.upms.mapper.UserMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        create_by
        AS
        createBy,
        create_time
        AS
        createTime,
        update_by
        AS
        updateBy,
        update_time
        AS
        updateTime,
        address,
        avatar,
        description,
        email,
        mobile,
        nick_name
        AS
        nickName,
        password,
        sex,
        status,
        type,
        username,
        del_flag
        AS
        delFlag,
        department_id
        as
        departmentId
    </sql>

    <!-- userVo结果集 -->
    <resultMap id="userVoResultMap" type="com.y3tu.cloud.common.vo.UserVO">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="mobile" property="mobile"/>
        <result column="avatar" property="avatar"/>
        <result column="ucreate_time" property="createTime"/>
        <result column="uupdate_time" property="updateTime"/>
        <result column="udel_flag" property="delFlag"/>
        <result column="department_id" property="departmentId"/>
        <result column="departmentName" property="departmentName"/>
        <collection property="roles" ofType="com.y3tu.cloud.common.vo.RoleVO">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="role_code" property="roleCode"/>
            <result column="description" property="description"/>
            <result column="rcreate_time" property="createTime"/>
            <result column="rupdate_time" property="updateTime"/>
        </collection>
    </resultMap>

    <sql id="selectUserVo">
        SELECT `user`.id,
               `user`.username,
               `user`.`password`,
               `user`.mobile,
               `user`.avatar,
               `user`.department_id,
               `user`.create_time AS ucreate_time,
               `user`.update_time AS uupdate_time,
               `user`.del_flag    AS udel_flag,
               r.id,
               r.name,
               r.role_code,
               r.description,
               r.create_time      AS rcreate_time,
               r.update_time      AS rupdate_time
        FROM t_user AS `user`
                 LEFT JOIN t_user_role AS ur ON ur.user_id = `user`.id
                 LEFT JOIN t_role AS r ON r.id = ur.role_id
    </sql>

    <select id="queryPage" resultType="com.y3tu.cloud.upms.model.entity.User" parameterType="java.util.Map">
        select t_user.id, t_user.create_by AS createBy, t_user.create_time AS createTime, t_user.update_by AS updateBy,
        t_user.update_time AS updateTime, t_user.address,
        t_user.avatar, t_user.description, t_user.email, t_user.mobile, t_user.nick_name AS nickName,
        t_user.password, t_user.sex, t_user.status, t_user.type, t_user.username, t_user.del_flag AS delFlag,
        t_user.department_id as departmentId,t_department.name as departmentName
        from t_user left join t_department on t_user.department_id = t_department.id
        where 1=1
        <if test="params.username!=null and params.username !=''">
            and t_user.username like '%${params.username}%'
        </if>
    </select>

    <select id="selectAll" resultType="com.y3tu.cloud.upms.model.entity.User">
        select
        <include refid="Base_Column_List"/>
        from t_user
    </select>

    <select id="selectUserVoById" resultMap="userVoResultMap">
        <include refid="selectUserVo"/>
        WHERE `user`.id = #{userId}
    </select>

    <select id="selectUserVoByUsername" resultMap="userVoResultMap">
        <include refid="selectUserVo"/>
        WHERE `user`.username = #{username}
    </select>

    <select id="selectUserVoByMobile" resultMap="userVoResultMap">
        <include refid="selectUserVo"/>
        WHERE `user`.phone = #{mobile}
    </select>

    <select id="selectUserVoByOpenId" resultMap="userVoResultMap">
        <include refid="selectUserVo"/>
        WHERE `user`.salt = #{openId}
    </select>


</mapper>
