<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.y3tu.yao.upms.mapper.DepartmentMapper">

    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.y3tu.yao.upms.model.entity.Department" id="departmentMap">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="parentId" column="parent_id"/>
        <result property="sort" column="sort"/>
        <result property="status" column="status"/>
        <result property="name" column="name"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id as id,
        create_by as createBy,
        create_time as createTime,
        del_flag as delFlag,
        update_by as updateBy,
        update_time as updateTime,
        parent_id as parentId,
        sort as sort,
        status as status,
        name as name,
    1=1
    </sql>


    <select id="page" resultType="com.y3tu.yao.upms.model.entity.Department">
        select
        <include refid="Base_Column_List"/>
        from t_department
    </select>
</mapper>
