<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.y3tu.yao.upms.mapper.RoleMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_code as roleCode,create_by AS createBy, create_time AS createTime, update_by AS updateBy, update_time AS updateTime, name,
    del_flag AS delFlag, default_role AS defaultRole,description
    </sql>

    <select id="page" resultType="com.y3tu.yao.upms.model.entity.Role">
        select
        <include refid="Base_Column_List"/>
        from t_role where 1=1
        <if test="params.name!=null and params.name!=''">
            and (name like '%${params.name}%' or role_code like '%${params.name}%')
        </if>
    </select>
</mapper>
